BULLET .bullet {
	font: 10px sans-serif;
}
.bullet .marker {
	stroke: #0059e3;
	stroke-width: 3px;
}
.bullet .tick line {
	stroke: #666;
	stroke-width: .5px;
}
.bullet .range.s0 {
	fill: #b0e57c;
}
.bullet .range.s1 {
	fill: #ffec94;
}
.bullet .range.s2 {
	fill: rgb(231, 118, 102);
}
.bullet .measure.s0 {
	fill: rgba(47, 47, 47, 0.77);
}
.bullet .measure.s1 {
	fill: #000;
}
.bullet .title {
	font-size: 16px;
}
.bullet .subtitle {
	fill: #999;
}
.linecharts .axis path, .linecharts .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.linecharts.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
.lineChart .axis path, .lineChart .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
.lineChart .line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}
.overdue {
	background-color: red !important;
}
.rightAlignLabel {
	font-size: 14px;
	margin-top: 10px;
	display: block;
	padding-top: 2.5px;
	font-weight: 600;
	color: #2F2F2F;
	font-family: "Open Sans", sans-serif;
	white-space: normal;
}
.opsDashLayout .gridTitle {
	padding: 4px 0px 4px 10px;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #3E3E44;
	font-family: "Open Sans", sans-serif;
	border: 1px solid #CACACA;
	box-sizing: border-box;
	background: rgba(55, 63, 66, 0.14);
	border-bottom: 1px solid #CECECE;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	cursor: pointer;
	cursor: hand;
}
.dropBox {
	display: inline;
	overflow: hidden;
	clear: both;
	margin-top: 10px;
	/* display: block; */
	padding-top: 2.5px;
}
.lineChart, .stackedbarchart, .groupedBarChart {
	font-size: 11px;
	font-family: "Open Sans", sans-serif;
}
/* Pie chart legends */ 

.my-legend .legend-title {
	text-align: left;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 90%;
}
.my-legend .legend-scale {
	height: 100%;
}
.my-legend .legend-scale ul {
	padding: 0;
	list-style: none;
	margin: 0px auto;
	overflow-x: auto;
	height: 338px;
	position: relative;
}
.my-legend .legend-scale ul li {
	font-size: 12px;
	list-style: none;
	line-height: 18px;
	margin-bottom: 1px;
	text-align: right;
	position: relative;
	padding-left: 20px;
}
/* Hazard Dashboard Legends */
.my-legend ul li span {
	display: inline-block;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid #cecdcd;
	position: relative;
	top: 3px;
	left: -4px;
	float: right;
	position: absolute;
}
/* Investigation Dashboard Reckange Legends */

.my-legend ul.rectBox.legend-inv-labels-comp li span {
	background: red;
	width: 18px;
	height: 12px;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #cecdcd;
	top: 2px;
}
.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}
.my-legend a {
	color: #777;
}
.axis path, .axis line {
	fill: none;
	shape-rendering: crispedges;
	stroke: #000;
}
div.tooltip {
	position: absolute;
	z-index: 999;
	padding: 10px;
	background: #f4f4f4;
	border: 0px;
	border-radius: 3px;
	pointer-events: none;
	font-size: 11px;
	color: #000;
	line-height: 16px;
	border: 1px solid #d4d4d4;
}
