header.maskUiAppHdr {
	color: #ffffff;
	width: 100%;
	height: 60px;
	white-space: nowrap;
	background: #222222;
}
.hdrLogoV {
	float: left;
	display: inline-block;
	overflow: visible;
	position: relative;
	white-space: nowrap;
	width: 200px;
}
.hdrLogoC {
	display: inline-block;
	overflow: visible;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 200px;
}
.sapUiMnuBarOvrFlw.sapUiMnuBarItm {
	top: 0px;
	margin-right: 0px;
}
.sapUiMnuBarItm.sapUiMnuItmSubMnuOpen, .sapUiMnu li:hover {
	background-color: #007cc0;
	color: white;
}
.firstMnuItmSelect .sapUiMnuItm.sapUiMnuItmFirst {
	background-color: #007cc0;
	color: white;
}
#system-submenu, #setgsMenu {
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
	-ms-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
	-o-box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.33);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.sapUiMnuItmHov.sapUiMnuItm {
	background-color: #007cc0 !important;
	color: white !important;
	cursor: pointer;
}
div#appHeader-headingArea {
	height: 60px;
	line-height: 60px;
	display: inline-block;
	margin-left: 1%;
}
div#appHeader-headingArea span {
	line-height: inherit;
	font-size: 1.5em;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
	display: block;
	text-align: center;
}
div.uiHdrSettingsMenuArea, div.uiHdrUsrDtlsArea {
	display: inline-block;
	margin-right: calc(1% + 60px);
	float: right;
}
div.uiHdrUsrDtlsArea > span {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	padding: 5% 0px;
}
span.userName {
	color: #82d7ff;
}
div.lastLoginArea {
	font-size: 0.75em;
	font-style: italic;
}
div.uiHdrSettingsMenuArea .sapUiMnuBar {
	border: 0px solid red;
	height: 60px;
}
div.uiHdrSettingsMenuArea .sapUiMnuBar ul {
	padding: 0px;
	height: 60px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
div.uiHdrSettingsMenuArea .sapUiMnuBar ul li {
	margin-right: 0px;
	padding: 10px 5px 10px 5px;
	margin: 0px;
	border: 0px;
	height: 40px;
}
div.uiHdrSettingsMenuArea .sapUiMnuBar ul li:hover {
	background-color: rgba(33, 51, 79, 0.28);
}
div.uiHdrSettingsMenuArea .sapUiMnuBar ul li#settings-item-0 span:after {
	color: white;
	font-family: SAP-icons;
	font-size: 1em;
	cursor: pointer;
	content: '\e1ef';
	font-weight: 500;
	margin-left: 10px;
	vertical-align: bottom;
}
div.uiHdrSettingsMenuArea .sapUiMnuBar ul li#settings-item-0 span:focus::after {
	background: green;
}
#settings-item-0 span {
	color: white;
	vertical-align: middle;
	display: block;
	font-weight: 400;
	font-size: 1.3em;
	height: 40px;
	line-height: 38px;
}

/* CSS3 Media Queries Template break points */
@media only screen and (min-width: 320px) {
.hdrLogoV, .hdrLogoC {
	width: 72px;
}
div#appHeader-headingArea {
	width: 54%;
	height: 32px;
}
div#appHeader-headingArea span {
	font-size: 12px;
	white-space: initial;
	line-height: 15px;
	text-align: left;
}
div.uiHdrSettingsMenuArea {
	height: 26px;
	margin-right: 0px;
	text-align: right;
	padding-right: 65px;
}
div.uiHdrSettingsMenuArea .sapUiMnuBar ul li {
	height: 22px;
	padding: 0px;
}
div.uiHdrUsrDtlsArea > span {
	font-size: 0.75em;
	padding: 0px;
	line-height: 13px;
}
div.uiHdrUsrDtlsArea {
	margin-right: calc(2% + 70px);
}
div.uiHdrSettingsMenuArea .sapUiMnuBar ul li {
	height: 24px;
	padding: 0px;
}
}

@media only screen and (min-width: 480px) {
.hdrLogoV, .hdrLogoC {
	width: 60px;
}
div#appHeader-headingArea {
	height: 60px;
	width: 44%;
}
div#appHeader-headingArea span {
	font-size: 18px;
	line-height: 24px;
}
#settings-item-0 span {
	height: 60px;
	line-height: 52px;
	font-size: 1em;
}
div.uiHdrUsrDtlsArea {
	margin-right: calc(1% + 60px);
	margin-top: 12px;
}
div.uiHdrUsrDtlsArea > span {
	font-size: 0.85em;
	line-height: 18px;
}
}

@media only screen and (min-width: 768px) {
div#appHeader-headingArea {
	height: 60px;
	width: auto;
}
div#appHeader-headingArea span {
	line-height: 50px;
	font-size: 1.3em;
}
div.uiHdrUsrDtlsArea > span {
	line-height: 20px;
	font-size: 1em;
}
}

@media only screen and (min-width: 1024px) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
div#appHeader-headingArea span {
	font-size: 1.5em;
}
#settings-item-0 span {
	font-size: 1.3em;
}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
}
