html {
	height: 100%;
}
body.sapUiBody {
	background: #ffffff;
	overflow: hidden;
	height: 100%;
}
.sapUiDlgModal.sapUiDlg {
	max-width: 80%;
	min-height: 50px;
	min-width: 20%;
	width: auto;
}
.pieDialog {
	width: 46%;
}
/*FILTER AREA*/
.contentArea .tabContainer {
	width: 100%;
	font-family: "Open Sans", sans-serif;
}
.contentArea .tabContainer .sapMTabContainerContent .sapMTabContainerInnerContent {
	padding: 0px;
}
.contentArea .tabContainer .sapMTabContainerContent .sapMTabContainerInnerContent .tabContentArea {
	overflow-y: auto;
}
.tabContainer .dashBoardCustomRFL {
	font-family: "Open Sans", sans-serif;
	padding: 6px;
	float: right;
}
.tabContainer .dashBoardCustomRFL .sapMFlexItem {
	margin-right: 0.4rem;
}
.tabContainer .dashBoardCustomRFL .commonLabel {
	font-size: 13px;
	font-weight: 600;
	color: #3a3939;
	font-family: "Open Sans", sans-serif;
	white-space: normal;
}
.tabContainer .dashBoardCustomRFL .commonFilter {
	margin-right: 1rem;
	width: 24ex;
}
/*MAIN CHART AREA*/
.tabContainer .asmsDashboard {
	border-top: 1px solid #bfbfbf;
	margin-top: 34px;
}
.tabContainer .asmsDashboard .sapUiFormResGrid>div {
	padding: 6px 6px 0px 6px;
	height: 100%;
	background-color: transparent;
}
.tabContainer .asmsDashboard .sapUiFormResGridCont {
	padding: 0px;
}
.tabContainer .asmsDashboard .sapUiFormResGridCont>div {
	padding: 0.4rem !IMPORTANT;
}
.tabContainer .asmsDashboard .commonGrid {
	background: #fafafa;
	border: 1px solid #dcdbdb;
}
.tabContainer .asmsDashboard .gridTitle {
	display: block;
	font-family: "Open Sans", sans-serif;
	position: relative;
	height: 32px;
	line-height: 30px;
	background: #f1f0f0;
	color: #505050;
	font-size: 14px;
	font-weight: 600;
	padding: 0 8px;
	border-bottom: 1px solid #dcdbdb;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
}
.groupedBarChart {
	height: 300px;
	padding: 0px 4px;
}
.customDialog .piechart {
	height: 350px;
}
.customDialog .my-legend {
	padding: 10px
}
.customDialog .my-legend .legend-scale ul {
	height: 100%;
}
/* HAZARD DASHBOARD */

.gridWithCustomBorder {
	border-left: 1px solid #dcdbdb;
}
.tabContainer .asmsDashboard .commonGrid .statusLabel {
	display: block;
	font-size: 12px;
	color: #3c3c3c;
	font-family: "Open Sans", sans-serif;
	padding: 2px;
	font-weight: 600;
}
.tabContainer .asmsDashboard .commonGrid .piechart {
	text-align: center;
}
.my-legend {
	position: relative;
	height: 100%;
	background: #eceff4;
}
.tabContainer .asmsDashboard .commonGrid .lineChart {
	margin: 5px;
}
.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}
.my-legend a {
	color: #777;
}
.axis path, .axis line {
	fill: none;
	shape-rendering: crispedges;
	stroke: #000;
}
div.tooltip {
	position: absolute;
	z-index: 999;
	padding: 10px;
	background: #f4f4f4;
	border: 0px;
	border-radius: 3px;
	pointer-events: none;
	font-size: 11px;
	color: #000;
	line-height: 16px;
	border: 1px solid #d4d4d4;
}
/* E-LMS */


.commonGrid.titleWithFilters .internalFilters {
	padding: 4px 6px;
	background: rgba(220, 219, 219, 0.46);
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem {
	margin-right: 0.6rem;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBaseWidthPadding {
	padding: 0px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .from {
	margin-left: 2em;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBaseInner {
	font-size: 12px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase {
	height: 22px;
	font-family: "Open Sans", sans-serif;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase.sapMInputVH>.sapMInputBaseInner {
	padding-right: 1.50rem;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase .sapMInputValHelp {
	top: 0rem;
	right: 0px;
	height: 22px;
	width: 26px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase .sapMInputValHelp .sapMInputValHelpInner {
	width: 26px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .commonLabel {
	line-height: 12px;
}
.commonGrid.titleWithFilters .dateTimePicker .sapMInputBaseInner {
	height: 22px/* 1.5rem; */
}
.commonGrid.titleWithFilters .dateTimePicker .sapMInputValHelpInner {
	line-height: 1.3rem;
}
.commonGrid.titleWithFilters .dateTimePicker .sapMInputValHelpInner {
	height: 1.32rem;
}

/* CSS3 Media Queries Template break points */
@media only screen and (min-width: 320px) {
.tabContainer .asmsDashboard .sapUiFormResGrid>div {
/*background: red;*/
}
.tabContainer .dashBoardCustomRFL {
	float: none;
	display: inline-block;
	width: 100%;
	padding: 0px;
}
.tabContainer .dashBoardCustomRFL .sapMFlexItem {
	display: inline;
	overflow: hidden;
}
.tabContainer .dashBoardCustomRFL .commonLabel {
	width: 40%;
	text-align: right;
	height: 26px;
}
.tabContainer .sapMTabStrip {
	border-bottom: 0px solid #424242;
}
.tabContainer .sapMTabStrip .sapMSlt.sapMTSSlt.sapMSlt.sapMTSSlt {
	background: #dcecf0;
	margin-bottom: 5px;
}
.iconToolbar.sapMIBar.sapMTB {
	height: 36px;
}
.tabContainer .asmsDashboard {
	margin-top: 5px;
}
/* Hazard Screen */
 
.my-legend .legend-scale ul {
	max-height: 100px;
	padding: 5px 0px 5px 10%;
	height: auto;
}
.tabContainer .asmsDashboard .commonGrid .piechart {
	height: 200px;
}
.tabContainer .asmsDashboard .commonGrid .lineChart {
	height: 250px;
}
.my-legend .legend-scale ul li {
	margin-bottom: 6px;
	text-align: left;
}
.gridWithCustomBorder {
	border-left: 0px solid #dcdbdb;
	border-top: 1px solid #dcdbdb;
}
.my-legend ul li span {
	margin-right: 6px;
	float: left;
	top: 1px;
}
/*E-LMS */

.commonGrid.titleWithFilters .internalFilters {
	display: inline-block;
	width: 100%;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem {
	display: inline;
	overflow: hidden;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .commonLabel {
	width: 39%;
	text-align: right;
	height: 26px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .from, .commonGrid.titleWithFilters .internalFilters .sapMFlexItem .to {
	width: 39%;
	text-align: right;
	margin: 2px 0px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase {
	width: 54% !important;
	margin: 2px 0px;
}
.customDialog .piechart {
	height: 180px;
}
}

@media only screen and (min-width: 480px) {
.tabContainer .asmsDashboard .sapUiFormResGrid>div {
/*background: blue;*/
}
/* Hazard Screen */
 
.my-legend .legend-scale ul {
	max-height: inherit;
	padding: 5px 0px 5px 5px;
	height: 212px;
}
.tabContainer .dashBoardCustomRFL {
	float: right;
	display: block;
	padding: 3px;
	width: initial;
}
.tabContainer .dashBoardCustomRFL .commonLabel {
	width: auto;
}
.tabContainer .dashBoardCustomRFL .commonFilter {
	width: 17ex;
}
.tabContainer .asmsDashboard {
	margin-top: 36px;
}
/*E-LMS*/
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .commonLabel {
	width: auto;
	line-height: 16px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .from, .commonGrid.titleWithFilters .internalFilters .sapMFlexItem .to {
	width: auto;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase {
	width: 15% !important;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem {
	margin-right: 0.3rem;
}
.customDialog .piechart {
	height: 250px;
}
.pieDialog {
	width: 90%;
}
}

@media only screen and (min-width: 768px) {
.tabContainer .asmsDashboard .sapUiFormResGrid>div {
/*background: green;*/
}
.tabContainer .sapMTabStrip {
	height: 36px;
	border-bottom: 1px solid #424242;
}
.tabContainer .asmsDashboard {
	margin-top: 34px;
}
.tabContainer .dashBoardCustomRFL .commonFilter {
	width: 18ex;
}
.groupedBarChart {
	height: 370px;
}
.tabContainer .dashBoardCustomRFL {
	padding: 6px;
}
/* Hazard Screen */
.tabContainer .asmsDashboard .commonGrid .piechart {
}
.my-legend .legend-scale ul {
	height: 222px;
	padding: 10px;
}
.tabContainer .asmsDashboard .commonGrid .piechart {
	height: 220px;
}
.tabContainer .asmsDashboard .commonGrid .lineChart {
	height: 250px;
}
.my-legend .legend-scale ul li {
	margin-bottom: 6px;
}
.gridWithCustomBorder {
	border-left: 1px solid #dcdbdb;
	border-top: 0px solid #dcdbdb;
}
/*E-LMS*/
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem {
	margin-right: 0.6rem;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase {
	width: 17% !important;
}
.pieDialog {
	width: 80%;
}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { 
.groupedBarChart {
	width: 650px;
}
.piechart{
	width: 332px;
}
.lineChart{
	width: 1000px;
}
}

@media only screen and (min-width: 1024px) {
.tabContainer .asmsDashboard .sapUiFormResGrid>div {
/*background: pink;*/
}
.groupedBarChart {
	height: 246px;
}
/*E-LMS*/
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .commonLabel {
	line-height: 18px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase {
	width: auto !important;
}
.pieDialog {
	width: 60%;
}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
.tabContainer .asmsDashboard .sapUiFormResGrid>div {
/*background: yellow;*/
}
.groupedBarChart {
	height: 245px;
}
.tabContainer .dashBoardCustomRFL {
	padding: 6px;
}
/* Hazard Screen */
.tabContainer .asmsDashboard .commonGrid .piechart {
	height: 224px;
}
.tabContainer .asmsDashboard .commonGrid.adpPassesByType .piechart {
	height: 192px;
}
.my-legend .legend-scale ul {
	height: 226px;
	padding: 10px;
}
.adpPassesByType .my-legend .legend-scale ul {
	height: 194px;
}
.tabContainer .asmsDashboard .commonGrid .lineChart {
	height: 236px;
}
.my-legend .legend-scale ul li {
	margin-bottom: 4px;
}
/* E-LMS */

.commonGrid.titleWithFilters .groupedBarChart {
	height: 214px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase {
	width: 13% !important;
}
.tabContainer .asmsDashboard .commonGrid.adpPassesDepartmentwise .sapUiTfCombo {
	width: 18ex;
}
.pieDialog {
	width: 50%;
}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
.tabContainer .asmsDashboard .sapUiFormResGrid>div {
/*background: grey;*/
}
.groupedBarChart {
	height: 392px;
}
/* Hazard Screen */
.tabContainer .asmsDashboard .commonGrid .piechart {
}
.my-legend .legend-scale ul {
	height: 378px;
}
.adpPassesByType .my-legend .legend-scale ul {
	height: 347px;
}
.tabContainer .asmsDashboard .commonGrid .piechart {
	height: 376px;
}
.tabContainer .asmsDashboard .commonGrid.adpPassesByType .piechart {
	height: 345px;
}
.tabContainer .asmsDashboard .commonGrid .lineChart {
	height: 388px;
}
.my-legend .legend-scale ul li {
	margin-bottom: 6px;
}
/* E-LMS */
.commonGrid.titleWithFilters .groupedBarChart {
	height: 367px;
}
.commonGrid.titleWithFilters .internalFilters .sapMFlexItem .sapMInputBase {
	width: auto !important;
}
.pieDialog {
	width: 35%;
}
}
