div >.inputfield {
						box-sizing: border-box;
						    -webkit-box-sizing: border-box;
						    -moz-box-sizing: border-box;
						    border: 1.3px solid #07120B;
						    box-shadow: 1px 1px 4px #EBEBEB;
						    -moz-box-shadow: 1px 1px 4px #EBEBEB;
						    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
						    border-radius: 3px;
						    -webkit-border-radius: 3px;
						    -moz-border-radius: 3px;
						    padding: 5px;
						    outline: none;
						    height: 28px;
						    transition: box-shadow 0.3s, border 0.3s;
						    margin-bottom:10px;
			}
.labelcss{			
			 
			  font-weight:bold;
}



div >.inputfield2 {
						box-sizing: border-box;
						    -webkit-box-sizing: border-box;
						    -moz-box-sizing: border-box;
						    border: 1.3px solid #07120B;
						    box-shadow: 1px 1px 4px #EBEBEB;
						    -moz-box-shadow: 1px 1px 4px #EBEBEB;
						    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
						    border-radius: 3px;
						    -webkit-border-radius: 3px;
						    -moz-border-radius: 3px;
						    padding: 5px;
						    outline: none;
						    height: 28px;
						    transition: box-shadow 0.3s, border 0.3s;
						    margin-bottom:10px;
			}
			

.inputfield2:focus,
.inputfield2.focus {
  border: solid 3px #969696;
}






.inputfield:focus,
.inputfield.focus {
  border: solid 3px #969696;
}

 .sapMInputBaseWidthPadding .sapMInputVH
{
	height: 28px;
    border: 1.3px solid #07120B;
    width: 43%;
	
}

.customTabStrip .sapUiTabPanel {
	background-color: rgba(210, 236, 251, 1);
}

div >.bt1
{
	width: 100px;
	height: 40px;
	margin-top: 15px;
	margin-right: 20px;
	
	
}
div >.bt2
{
	width: 100px;
	height: 40px;
	margin-left: 10px;
	margin-top: 15px;
}
div >.bt3
{
	background-color: #ff3374 !important;
	margin-right: 9px;
}
div >.bt4
{
	background-color: #ffa733 !important;
	margin-right: 9px;
}
div >.bt5
{
	width:10px;
	background-color: #858483 !important;
	margin-right: 9px;
}
div >.bt6
{
	background-color: #d2f7f3 !important;
	margin-right: 9px;
}


td >.bttclor
{
	height: 34px !important;
    background-color: rgba(202, 213, 230, 1) !important;
}
td >.bttclor:hover
{
	height: 35px !important;
    background-color: rgba(25, 233, 100, 1) !important;
}


td > .orcolorbtn
{
	background-color: #FFA500 !important;
}



.customTable div.sapUiTableCol {
	background-color: #666666;
}
.customTable div.sapUiTableCol:hover, .customTable div.sapUiTableCol:hover .sapUiLbl {
	color: #fff;
}
.customTable div.sapUiTableColRowHdr {
	background-color: #666666;
}
.customTable .sapUiTableCtrl .sapUiTableTr:nth-child(even) {
	background-color: #EFEFEF;
}
.customTable label.sapUiLbl {
	color: white;
	font-size: 100%;
	font-weight: bold;
}


.chargeDeleteButton {
	height: 33px;
	background-color: rgba(253, 22, 22, 0.92);
	border: none;
	border-top-left-radius: 0em;
	cursor: pointer;
	color: #fff;
	outline: none;
	width: 33px;
    margin: 10px 3px;
}
.chargeEditButton {
	height: 33px;
	background-color: #007cc0;
	border: none;
	border-top-left-radius: 0em;
	cursor: pointer;
	color: #fff;
	outline: none;
	width: 33px;
    margin: 10px 3px;
}

.dia{
	
	    position: absolute;
    visibility: visible;
    z-index: 280;
    top: 200.5px;
    left: 77px;
    display: block;
}

@media only screen and (min-width: 320px) {
div >.inputfield {
						    width: 46ex  !important;
			}
			div >.bt1{
			     margin-right: 30px;
   				 margin-bottom: 25px;
   				 margin-left: 42px;
			}
	}
	
@media only screen and (min-width: 375px) {
div >.inputfield {
						    width: 55ex  !important;
			}
			
	}
	@media only screen and (min-width: 768px) {
div >.inputfield {
						    width: 58ex  !important;
			}
			
			div >.bt1{
			     margin-left: 33%;
			}
			.asw{
						       max-width: 50% !important;
			}
			
	}
	
	@media only screen and (min-width: 1024px) {
div >.inputfield {
						    width: 39ex  !important;
			}
			div >.bt1{
			     margin-left: 33%;
			}
			
	}
	
@media only screen and (min-width: 770px) {
.asw{
						       max-width: 30% !important;
			}
			
	}
	
@media only screen and (min-width: 1360px) {
.datepicwid{
						     width: 72% !important;
			}
			
	}
	@media only screen and (min-width: 1800px) {
.datepicwid{
						     width: 53% !important;
			}
			
	}	
	
