html {
	height: 100%;
}
/* #twitter_div {
	height: 512px;
  	width: 512px;
} */
.landscape {
	align:left;
    height: 100px;
    width: 100px;
}

.imageContainer {
    border: 1px solid #444;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 15px;
    text-align: center;
}
.imageContainer > span {
    display: block;
    width: 1000px;
    margin-left: -450px; /* -(width-container width)/2 */
}
.imageContainer > span > img {
    display: inline-block;
}
.twitterimg {
    max-width: 100%;
    max-height: 100%;
}
h1, p {
  color:black;
  margin: 0;
  padding: 0;
}
.twitterTooltip{
	color:#74D6F4;
}
.locationdetails{
	align:right;
}
.headingTweet{
	align:right;
	color:black;
}